version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: ping_api_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - face_backend
    restart: always

  face_backend:
    container_name: face_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file:
      - .env

volumes:
  mongo_data:
