version: "3.9"

services:
  face_backend:
    container_name: face_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    depends_on:
      - mongo

  mongo:
<<<<<<< HEAD
    image: mongo:6
=======
    image: mongo:7
>>>>>>> 78ff324b2d9bce681aae1b7c2aad269eece7b8bf
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file:
      - .env

volumes:
  mongo_data:

